{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <title>Распознавание объектов в багаже</title>
    <link rel="stylesheet" href="{% static 'detection/css/main.css' %}">
</head>
<body>
<header class="fix_top">
            <div class="logo-left">
            <div class="logo-left">
<!--                <a href="{% url 'main' %}">-->
<!--                </a>-->
                <span class="logo-text">BAGGAGE OBJECT DETECTION</span>
            </div>
            </div>
            <div class="float-right-buttons">
                <a href="{% url 'about' %}">О проекте</a>
            </div>
</header>
<main class="info-main">
    {% block main %}
    {% endblock %}
</main>
</body>
</html>